/*---------- CSS RESET ----------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------- DESKTOP STYLING ----------*/

html {
	vertical-align: top;
	font-size: 18px;
	font-family: helvetica, 'sans-serif';
	box-sizing: border-box;
	background: black;
}/*html*/

/* General Text */

p {
	font-size: 2rem;

}/*p*/

/* -- Buttons -- */

button {
	cursor: pointer;

}/*button*/

.blue-button {
	background: #0f6db3;
	border: none;
	color: white;
	font-size: 1.5rem;
	font-weight: 100;
	padding: 5px 15px;

}/*blue-button*/

.blue-button:hover {
	background: #0b5891;
}/*blue-button hover*/

.arrow {
	border: none;
	background: none;
	color: black;
	font-size: 3.5rem;
	font-weight: 100;

}/*arrow*/

.collapse {
	border: none;
	background: none;
	color: #0b5891;
	font-size: 2rem;
	z-index: 1000;

}/*close*/

/* -- General Classes -- */

.hide {
	display: none;
}

/* -- Ad Section -- */

.ad {
	background: white;
	overflow: hidden;

}/*ad*/

/* -- Video Section -- */

.video {
	width: 61%;
	height: 520px;
	background: gray;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	top: 0;


}/*video*/

.bg-video {
	min-width: 120%;
	min-height: 120%;
	top: 50%;
	left: 50%;
	position: relative;
	-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}/*bg-video*/

.video .collapse {
	float: right;
	color: white;
	display: none;
	opacity: 0.0;
	left: 55%;
	z-index: 1000;
	position: absolute;


}/*video collapse*/

/* -- Side Panel Section -- */

.side-panel {
	display: inline-block;
	width: 28%;
	background: white;
	vertical-align: top;
	padding: 75px 5% 37px 5%;

}/*side-panel*/

.side-panel .blue-button {
	top: 400px;
	position: absolute;

}/*side-panel blue-button*/

.side-panel .collapse {
	float: none;
	display: block;
	position: absolute;
	top: 0px;
	left: 61%;
}/*side-panel close*/

.side-panel .pages {
	top: 376px;
	left: 85%;
	position: absolute;

}/*side-panel pages*/

.pages {
	float: right;
	vertical-align: top;

}/*pages*/

.pages .arrow, .pages p {
	display: inline-block;

}/*pages arrow, pages p*/

.pages p {
	font-size: 1.5rem;
	margin: -10px 0 0;
	vertical-align: text-top;

}/*pages p*/

/*---------- 2000PX STYLING ----------*/

@media(min-width: 2000px) {
	html {
		font-size: 22px;

	}/*html*/

	.pages p {
		font-size: 2rem;
		vertical-align: text-bottom;

	}/*pages p*/

}/*2000px*/

/*---------- 3000PX STYLING ---------*/

@media(min-width: 3000px) {
	html {
		font-size: 28px;

	}/*html*/
}/*3000px*/

/*---------- 1200PX STYLING ---------*/

@media(max-width: 1300px) {
	html {
		font-size: 16px;

	}/*html*/
}/*1200px*/

/*---------- 1000PX STYLING (TABLET)----------*/

@media(max-width: 1000px) {
	html {
		font-size: 28px;

	}/*html*/

	.video {
		height: 430px;
		background: url('../img/slapping.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		
	}/*video*/

	.bg-video {
		min-height: 430px;
		display: none;

	}/*bg-video*/

	.side-panel {
		width: 90%;
		padding: 100px 5%;

	}/*side-panel*/

	.side-panel .blue-button {
		top: 600px;
		left: 68.5%;

	}/*side-panel blue-button*/

	.side-panel .pages {
		top: 670px;
		left: 69.5%;

	}/*side-panel pages*/

	.page-text {
		width: 60%;
	}/*page-text*/

	.arrow {
		padding: 0;

	}/*arrow*/

	.pages p {
		font-size: 2rem;
		vertical-align: text-bottom;
	}/*pages p*/

	.side-panel .collapse {
		display: none;
	}/*side-panel collapse*/

	.side-panel-
}/*1000px*/

/*---------- 767PX STYLING ---------*/

@media(max-width: 767px) {
	.video {
		height: 430px;
		
	}/*video*/

}/*767px*/
